<div class="mt-32">
  <div class="max-w-7xl mx-auto">
    <div class="text-center">
      <h2 class="md:text-4xl text-3xl font-semibold md:!leading-[50px] mb-6">LATEST BLOGS</h2>
      <p class="text-gray-400">Insight From the Pioneers of StakeReloadXS in all things tech, web 3, and more.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 mt-16">
      <div class="cursor-pointer rounded overflow-hidden group">
        <div>
          <span class="block text-gray-400 mb-2">5 JAN 2025</span>
          
          <h3 class="text-xl group-hover:text-red-600 transition-all">In BTC We Trust: The Elon Musk Effect on a US Backed Stablecoin
            <a href="https://www.linkedin.com/in/supitsj/recent-activity/articles/" class="text-gray-400 hover:text-red-600 transition-all"></a>
          </h3>
          <div class="mt-6">
            <p class="text-gray-400 ">Here's how we can transform the illicit gains of cybercriminals into a foundation for America’s prosperity, leveraging assets now worth billions or even trillions in the span of less than a decade.</p>
          </div>
        </div>
        <hr class="my-6" />
        <div class="flex flex-wrap items-center gap-3">
          <img src="/images/supitsj.png" class="w-9 h-9 rounded-full" />
          <p class="text-xs text-gray-400">BY SupItsJ</p>
        </div>
      </div>
      <div class="cursor-pointer rounded overflow-hidden group">
        <div>
          <span class="block text-gray-400 mb-2">29 NOV 2024</span>
          <h3 class="text-xl group-hover:text-red-600 transition-all">The Art of Affiliate Whoring
            <a href="https://www.linkedin.com/in/supitsj/recent-activity/articles/" class="text-gray-400 hover:text-red-600 transition-all"></a>
          </h3>
          <div class="mt-6">
            <p class="text-gray-400 ">Whether you're starting out or at a crossroads where the path forward seems uncertain, I’ll break it down for you in simple terms. Let’s dive into the The Art of Affiliate Whoring 2025 Edition.</p>
          </div>
        </div>
        <hr class="my-6" />
        <div class="flex flex-wrap items-center gap-3">
          <img src="/images/supitsj.png" class="w-9 h-9 rounded-full" />
          <p class="text-xs text-gray-400">BY SupItsJ</p>
        </div>
      </div>
      <div class="cursor-pointer rounded overflow-hidden group">
        <div>
          <span class="block text-gray-400 mb-2">4 JUL 2024</span>
          <h3 class="text-xl group-hover:text-red-600 transition-all">How Telegram & TON Could Revolutionize Advertising Networks in Social Media
            <a href="https://www.linkedin.com/in/supitsj/recent-activity/articles/" class="text-gray-400 hover:text-red-600 transition-all"></a>
          </h3>
          <div class="mt-6">
            <p class="text-gray-400">Telegram and its associated cryptocurrency, TON (The Open Network), are emerging as powerful disruptors.</p>
          </div>
        </div>
        <hr class="my-6" />
        <div class="flex flex-wrap items-center gap-3">
          <img src="/images/supitsj.png" class="w-9 h-9 rounded-full" />
          <p class="text-xs text-gray-400">BY SupItsJ</p>
        </div>
      </div>
    </div>
  </div>
</div>