<div class="mt-32 rounded-md px-4 py-12">
  <div class="grid md:grid-cols-2 justify-center items-center max-w-7xl mx-auto">
    <div>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/cLhoih4c5Lc" title="" frameBorder="1"   allow="accelerometer; autoplay; picture-in-picture; web-share"  allowFullScreen></iframe></p>
    </div>
    <div class="max-md:text-center">
      <h2 class="md:text-4xl text-3xl font-semibold md:!leading-[50px] mb-6">Check out our Demo and see for yourself!</h2>
      <p class="text-gray-400">
      </p>
      <button type="button"
        class="px-6 py-3.5 rounded-md text-gray-100 bg-red-700 hover:bg-red-800 transition-all mt-10">
        Watch Demo
      </button>
    </div>
  </div>
</div>