<footer class="bg-[#111] px-4 sm:px-10 py-12 mt-32">
  <div class="Socials">
    <ul class="space-y-6">
      <li><a href="mailto:info@stakereloadxs.com" target="_blank">Email</a></li>
      <li><a href="https://github.com/stakereload/" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/ReloadedXS" target="_blank">Twitter</a></li>
      <li><a href="https://discord.gg/KsFPXT5QDW" target="_blank">Discord</a></li>
      <li><a href="https://t.me/stakereloadxs" target="_blank">Telegram</a></li>
    </ul>
  </div>
  <div class="lg:max-w-[50%] mx-auto text-center">
      <h2 class="md:text-4xl text-3xl font-semibold md:!leading-[50px] mb-6">Newsletter</h2>
      <p class="text-gray-400">Subscribe to our newsletter and stay up to date with the latest news,
        updates, and exclusive offers. Get valuable insights. Join our community today!</p>
      <div class="bg-[#444] flex px-2 py-1 rounded-md text-left mt-10">
        <input type='email' placeholder='Enter your email' class="w-full outline-none bg-transparent pl-2" />
        <button type='button'
          class="px-6 py-3 rounded-md text-gray-100 bg-red-700 hover:bg-red-800 transition-all ml-auto">Submit</button>
      </div>
    </div>
    <div>
     <!--spacer--> 
    </div>
    <div>
    <div>
      <h4 class="text-lg text-center mb-6">2025 © All Rights Reserved | StakeReloadXS</h4> 
  </div>
</div>
    <hr class="border-gray-400 my-12" />

    <div class="grid max-sm:grid-cols-1 max-lg:grid-cols-2 lg:grid-cols-4 gap-8">
      
      <div>
        <h4 class="text-lg mb-6">About Us</h4>
        <p class="text-gray-400 mb-2">We a small team of talented web 3 devs breaking barriers in the space and disrupting normal conventions.</p>
      </div>
      <div>
        <h4 class="text-lg mb-6">Like What We Do? Hire Us for You Next Project</h4>
        <ul class="space-y-4">
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all">Web
              Development</a></li>
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all">Mobile App
              Development</a></li>
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all">UI/UX
              Design</a></li>
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all">Digital
              Marketing</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg mb-6">Resources</h4>
        <ul class="space-y-4">
          <li><a href="https://linkedin.com/in/supitsj/articles" class="text-gray-400 hover:text-red-600 transition-all">Blog</a>
          </li>
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all"> </a>
          </li>
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all"> </a>
          </li>
          <li><a href="javascript:void(0)" class="text-gray-400 hover:text-red-600 transition-all"> </a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-lg mb-6">About Us</h4>
        <ul class="space-y-4">
          <li><a href="/src/pages/team.html" class="text-gray-400 hover:text-red-600 transition-all">Meet the Team</a></li>
          </li>
        </ul>
      </div>
    </div>
  </footer>